body {
  /*background-image: url("./scae_background3.png");                                             /*aggiunto questa riga*/
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#container2 {                                                                                /*aggiunto questa riga*/
  padding-top: 15px; padding-right: 0px; padding-bottom: 15px; padding-left: 0px;       /*aggiunto questa riga*/
}                                                                                       /*aggiunto questa riga*/

#navbar {
  background-color: rgba(147, 17, 53, 0.93);
}

#list {
  /* width: 10 rem; */
  width: 175%;
}

#listgroupitemtitle {
  background-color: rgba(147, 17, 53, 0.93);
}


#card {
  /* width: 10 rem; */
  width: 75%;
}

#cardheader {
  /* width: 10 rem; */
  background-color: rgba(147, 17, 53, 0.93);
  color: white;
}

#cardfooter {
  /* width: 10 rem; */
  background-color: rgba(147, 17, 53, 0.93);
  color: white;
}

#cardbutton {
  color: #fff;
  background-color: #8c8c8c;
  border-color: #bbd7ff;
  font-size: 0.8rem;
}

#image {
  max-width: 20%;
  margin-top: 10px;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
